@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html {
   margin: 0;
   padding: 0;
   height: 100%;
}

body {
   font-family: 'Poppins', sans-serif;
   font-size: 13pt;
   background-color: #efefef;
   padding: 10px;
   margin: 0;
   background-image: url("/resimg/bckgrd.jpeg");
   height: 100%;
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   background-attachment: fixed;
}

h1 {
   font-size: 15pt;
   color: #0e3ab1;
   text-align: center;
   padding: 18px 0 18px 0;
   margin: 0 0 10px 0;
}
